.boton-grande {
    background-color: #25f848; /* Color de fondo */
    color: #4000ff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interior */
    font-size: 20px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    margin-right: 20px; /* Espacio entre botones */
    border-radius: 5px; /* Borde redondeado */
}
.boton-grande:hover{
    transform: scale(2);
    transition: transform 1s;
    background-color: #4000ff; /* Color de fondo */
    color: #25f848;
    border-radius: 100px;
}

/* Estilos para el contenedor de los botones */
.botones-container {
    text-align: center; /* Centra los botones */
    margin-top: 20px; /* Espacio superior */
}

/* Estilo para la imagen */
#animal-image {
    max-width: 150%;
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 20px auto; /* Centra la imagen horizontalmente con margen superior e inferior */
}
body{
    background-color: rgb(87, 6, 87);
}
h1{
    text-align: center;
    color: rgb(255, 72, 0);
    font-size: 50px;
}